{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}

    <h1>PanierController</h1>

    {% if contenuPanier %}
        <table>
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for produit in contenuPanier %}
                    <tr>
                        <td>{{ produit.nom }}</td>
                        <td>{{ produit.prix }}</td>
                        <td>{{ produit.quantite }}</td>
                        <td>{{ produit.prix * produit.quantite }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>{{ message }}</h2>
    {% endif %}
    

    <a href="{{ path('app_accueil') }}">Retourner aux produits.</a>
{% endblock %}
