{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}!</h1>
    {{ dump(app.user) }}
    <a href="{{ path('app_logout') }}">Logout</a>
    <h1>Liste des Produits</h1>

    {% if produits is not empty %}
        <ul>
            {% for produit in produits %}
                <li>
                    <a href="{{ path('app_produit', {id: produit.id}) }}">
                        <strong>{{ produit.nom }}</strong><br>
                        Description: {{ produit.description }}<br>
                        Prix: {{ produit.prix }} €<br>
                        Stock: {{ produit.stock }}<br>
                        <img src="{{ asset('images/' ~ produit.photo) }}" alt="photo {{ produit.nom }}" style="width: 100px; height: 100px;">
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucun produit disponible.</p>
    {% endif %}
</div>
{% endblock %}
